
#recipe-note {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url('lab-assets/list-bg.png');
    background-repeat: repeat-y;
    background-size: 1200px 300px;
}

ul {
    list-style: none;
}

li:before{
    content: "\2610";
    margin-right:5px;
}

li.crossed:before {
    content: "\2611";
    margin-right:5px;
}

li.crossed {
    text-decoration: line-through;
}

#van-pic {
    float: left;
    padding: 10px;
}

#van-info {
    float: left;
    color: darkslategray;
}

#share-button {
    float: right;
    background-color: #d9734e;
    border: none;
    color: white;
    padding: 15px 32px ;
    font-size: 14pt;
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}

#bottom-text {
    color: lightgray;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 10rem;
}

.bar { 
    border: 1px dashed #000; 
    height: 20px; 
    width: 98%; 
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 5%; 
}

#straight-bar { 
    position: absolute;
    top: 15px;
    border: 1px solid lightgray;  
    width: 98%; 
    margin: auto; 
    z-index: -1;
}